/* ./dart-sass/sass sass/style.scss css/style.css --watch */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Shrikhand&display=swap");
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.loader {
  position: fixed;
  width: 375px;
  max-width: 428px;
  height: 100%;
  background-color: #f6f6f6;
  animation: loader_end 3s ease-in-out forwards;
  z-index: 1000;
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loader_end 3s ease-in-out forwards;
  width: 160px;
  height: 160px;
  background: linear-gradient(rgba(255, 121, 218, 0.8), rgba(147, 86, 220, 0.8));
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: "Shrikhand", "cursive";
  font-size: 20px;
  color: #99E2D0;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #99E2D0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 1001;
}

.ring:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #9356DC;
  border-right: 3px solid #FF79DA;
  border-bottom: 3px solid #9356DC;
  border-left: 3px solid #99E2D0;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

.span_loader {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  opacity: 1;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

.span_loader:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(#ff79da, #9356dc);
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #cecece;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes loader_end {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.7;
    visibility: hidden;
  }
}
#container {
  margin: 0;
  padding: 0;
  max-width: 375px;
  height: auto;
}

header {
  position: relative;
}

header a {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

h1 {
  font-family: "Shrikhand", "cursive";
  font-weight: 300;
  text-align: center;
  margin: 13px 0 3px 0;
}

a {
  display: inline;
  text-decoration: none;
  color: black;
}

.img_large {
  width: 375px;
}

section {
  background-color: #f6f6f6;
  text-align: center;
}
section h2 {
  font-weight: bold;
  margin: 0;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 375px;
  top: 260px;
  border-radius: 40px 40px 0 0;
}
.menu h2 {
  font-family: "Shrikhand", "cursive";
  font-size: 24px;
  padding: 0 0 0 10px;
  margin: 0;
}
.menu h3 {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  padding-left: 10px;
  margin: 25px 0 10px 0;
  height: 40px;
}
.menu span {
  position: absolute;
  width: 42px;
  bottom: 5px;
  left: 10px;
  border: 2px solid #99E2D0;
  text-decoration: underline;
  color: #99E2D0;
}

.menu_header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 35px;
}
.menu_header label {
  position: absolute;
  top: 0px;
  padding: 35px 10px 0 0;
}
.menu_header input {
  position: absolute;
  left: -9999px;
}
.menu_header .custom-checkbox input[type=checkbox]:checked ~ .checked {
  position: absolute;
  left: 0px;
}

.choice_menu {
  position: relative;
  width: 349px;
  height: 69px;
  margin: 15px auto 15px auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: start;
  padding-left: 10px;
}
.choice_menu strong {
  font-weight: bold;
}
.choice_menu p {
  padding: 0;
  margin: 0;
  font-size: 15px;
}
.choice_menu h4 {
  font-size: 17px;
  padding: 0;
  margin: 0;
}
.choice_menu .overflow_text {
  width: 85%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: linear 1s;
}
.choice_menu .overflow_text h4,
.choice_menu .overflow_text p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.choice_menu .price {
  width: 15%;
  height: 65%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.choice_menu .check_circle {
  width: 15%;
  height: 100%;
  position: absolute;
  right: -15%;
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: linear 1s;
}
.choice_menu svg {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 20%;
  color: #ffffff;
  transition: linear 1s;
}
.choice_menu:hover > .overflow_text, .choice_menu:focus > .overflow_text {
  width: 65%;
  cursor: pointer;
}
.choice_menu:hover > .check_circle, .choice_menu:focus > .check_circle {
  right: 0;
}
.choice_menu:hover > .check_circle svg, .choice_menu:focus > .check_circle svg {
  transform: rotate(-360deg);
  transform-origin: center;
}

.fadein {
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
form {
  height: 51px;
  position: relative;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
form svg {
  height: 17px;
}
form input {
  width: 41%;
  background-color: #eaeaea;
  font: 400 17px "Roboto", sans-serif;
  border-style: none;
  text-align: center;
}

#border {
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 0.5;
  border-bottom: 2px solid rgba(206, 206, 206, 0.7);
  box-shadow: 0px 2px 4px 0px #cecece;
}

#explore_restaurants {
  height: 287px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#explore_restaurants p {
  margin-bottom: 2em;
  font-weight: 300;
  font-size: 18px;
}

button {
  width: 219px;
  height: 50px;
  font: 400 16.3333px "Roboto", sans-serif;
  border: none;
  border-radius: 25px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 5px 7px 1px #cecece;
  transition: linear 0.2s;
  transform: scale(1);
}
button a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  transform: scale(1.08);
  box-shadow: 2px 7px 5px 3px #cecece;
  background: linear-gradient(rgba(255, 121, 218, 0.8), rgba(147, 86, 220, 0.8));
}

.button {
  margin: 30px auto 70px auto;
}

aside {
  height: 443px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
aside h2 {
  width: 348px;
  margin: 0;
}

#functioning_group_card {
  height: 73%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.functioning_card {
  width: 326px;
  height: 75px;
  position: relative;
  background: #f6f6f6;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 11px 0px #cecece;
  transform: scale(1);
  transition: linear 0.2s;
}
.functioning_card:hover {
  transform: scale(1.05);
  box-shadow: 1px 6px 8px 2px #cecece;
}
.functioning_card svg {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0.43;
  left: 40px;
}
.functioning_card h3 {
  margin: 0;
  font-size: 1em;
}

.functioning_card:hover {
  background-color: rgba(144, 85, 216, 0.15);
}
.functioning_card:hover:hover > svg {
  opacity: 1;
  color: #9356DC;
}

.functioning_number {
  width: 25px;
  height: 25px;
  position: absolute;
  background: #9356DC;
  left: -10px;
  color: white;
  border-radius: 12.5px;
}
.functioning_number p {
  font-size: small;
  margin: 5px 0;
  text-align: center;
}

#restaurant {
  height: 1233px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#restaurant h2 {
  width: 336px;
  text-align: left;
  margin: 52px 0 20px 0;
}

#resto_group_card {
  position: relative;
  width: 336px;
  height: 1062px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#resto_group_card input {
  position: absolute;
  left: -9999px;
}

article {
  position: relative;
  width: 100%;
  height: 253px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 2px 4px 0px #cecece;
}
article:hover {
  box-shadow: 1px 4px 5px 2px #cecece;
}

label {
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.container_img {
  position: relative;
  height: 176px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: end;
}
.container_img img {
  width: 100%;
}
.container_img p {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 1px;
  right: 15px;
  background: #99e2d0;
  color: #008765;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.custom-checkbox img {
  width: 30px;
}

.fancy-checkbox input[type=checkbox], .custom-checkbox .checked {
  display: none;
  cursor: pointer;
}

.custom-checkbox input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  position: absolute;
  right: 0;
  transform: scale(1.1);
  cursor: pointer;
}

.resto_footer_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30%;
}

.resto_footer_text {
  display: flex;
  flex-direction: column;
}
.resto_footer_text h3, .resto_footer_text p {
  margin: 0;
  text-align: left;
  padding: 0 0 0 10px;
}

footer {
  width: 375px;
  height: 198px;
  color: white;
  background: #353535;
}
footer h2 {
  margin: 0;
  padding: 20px 0 0 40px;
  font: 400 19px "Shrikhand", "cursive";
}
footer li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
footer li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
}
footer li a p {
  margin: 0;
}
footer li svg {
  width: 20px;
  height: 15px;
  padding: 0 10px 0 0;
}

#footer_restaurant {
  position: relative;
  top: 1385px;
}

.footer_restaurant {
  position: relative;
  top: 1282px;
}

/*# sourceMappingURL=style.css.map */
