/* ./dart-sass/sass sass/style.scss css/style.css --watch */
$color_primary: #9356DC;
$color_primary_opacity: rgba(144, 85, 216, 0.15);
$color_secondary: #FF79DA;
$color_tertiary: #99E2D0;
$color_background: #f6f6f6;
$color_background_bold: #eaeaea;
$color_box_shadow: #cecece;
$color_footer: #353535;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Shrikhand&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;    
}
#container {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 428px;
}
header a {
    position: absolute;
    top: 30px; left: 30px;
}
h1 {
    font-family: 'Shrikhand', 'cursive';
    font-weight: 300;
    text-align: center;
    margin: 13px 0 3px 0;
}
a {
    display: inline;
    text-decoration: none;
    color: black;
}
.img_large {
    width: 100%;
}
section {
    background-color: $color_background;
    text-align: center;
    
    h2 {
        font-weight: bold;
        margin: 0;
    }        
}
.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 375px;
    top: 260px;
    border-radius: 40px 40px 0 0;
    h1 {
        font-family: 'Shrikhand', 'cursive';
        font-size: 26px;
        padding: 25px 0 0 25px;
        margin: 0;
    }
    h2 {
        font-weight: 400;
        font-size: 20px;
        padding-left: 25px;
        margin: 20px 0 20px 0;
        span {
            text-decoration: 3px underline $color_tertiary;
            text-underline-offset: 0.7rem;
        }
    }
    svg {
        position: absolute;
        width: 25px;
        right: 40px;
        top: 20px;
    }
}
.choice_menu {
    position: relative;
    width: 349px;
    height: 69px;
    margin: 15px auto 15px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: start;
    padding-left: 10px;
    strong {
        font-weight: bold;
    }
    p,
    h3 {
        padding: 0;
        margin: 0;
    }
    .overflow_text {
        width: 77%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .overflow_text h3,
    .overflow_text p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .price {
        position: relative;
        width: 23%;
        text-align: end;
        padding-right: 10px;;
    }
    .check_circle {
        width: 23%;
        height: 100%;
        position: absolute;
        right: -23%;
        background: $color_tertiary;
        display: flex;
        justify-content: center;
        align-items: center;
    }   
    &:hover > .overflow_text {
        width: 50%;
        cursor: pointer;
    }
    &:hover > .check_circle {
        right: 0;
    }
}
form {
    height: 51px;
    position: relative;
    background-color: $color_background_bold;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        height: 17px;
    }
    
    input {
        width: 41%;
        background-color: $color_background_bold;
        font: 400 17px 'Roboto', sans-serif;
        border-style: none;
        text-align: center;
    }
}
#border {
        width: 100%;
        position: absolute;
        top: 0;
        border-bottom: 2px solid $color_box_shadow;
        box-shadow: 0px 2px 4px 0px $color_box_shadow;
}
#explore_restaurants {
    height: 287px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        margin-bottom: 2em;
        font-weight: 300;
        font-size: 18px;
    }
}
button {
        width: 219px;
        height: 50px;
        font: 400 16.3333px 'Roboto', sans-serif;
        border: none;
        border-radius: 25px;
        color: white;
        background: linear-gradient($color_secondary, $color_primary);
        box-shadow: 0 5px 7px 1px $color_box_shadow;
        &:hover {
            transform: scale(1.1);
            box-shadow: 2px 7px 5px 3px $color_box_shadow;
        }
    }
.button {
    margin: 30px auto 70px auto;
}
aside {
    height: 443px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        width: 348px;
        margin: 0;
    } 
}
#functioning_group_card {
    height: 73%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
}
.functioning_card {
        width: 326px;
        height: 75px;
        position: relative;
        background: $color_background;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 11px 0px $color_box_shadow;
        &:hover {
            transform: scale(1.1);
            box-shadow: 1px 6px 8px 2px $color_box_shadow;
        }
        svg {
            position: absolute;
            width: 20px;
            height: 20px;
            opacity: 0.43;
            left: 40px;
        }
        h3 {
        margin: 0;
        font-size: 1em;
        }
}
.functioning_card:hover {
    background-color: $color_primary_opacity;   
}
.functioning_card:hover > svg {
        color: $color_primary;
        opacity: 1;
}
.functioning_number {
        width: 25px;
        height: 25px;
        position: absolute;
        background: $color_primary;
        left: -10px;
        color: white;
        border-radius: 12.5px;
        p {
            font-size: small;
            margin: 5px 0;
            text-align: center;
        }
}
#restaurant {
    height: 1233px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        width: 336px;
        text-align: left;
        margin: 52px 0 20px 0 ;
    }
}
#resto_group_card {
    width: 336px;
    height: 1062px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
article {
    width: 100%;
    height: 253px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 4px 0px $color_box_shadow;
    &:hover {
        box-shadow: 1px 4px 5px 2px $color_box_shadow;
    }
}

.container_img {
    position: relative;  
    height: 176px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: end;
    img {
        width: 100%; 
    }
    p {
        width: 80px;
        height: 30px;
        position: absolute;
        top: 1px;
        right: 15px;
        background: #99e2d0;
        color: #008765;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
    }
}
.resto_footer_card {
    position: relative;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    h3, p{
        margin: 0;
        padding: 0 0 0 10px;
    }
    svg {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 15px;    
    }
}

footer {
    height: 198px;
    color: white;
    background: $color_footer;
    h2 {
        margin: 0;
        padding: 20px 0 0 40px;
        font: 400 19px 'Shrikhand', 'cursive';
    }
    li {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        a {
           display: flex;
            flex-direction: row;
            align-items: center;
            color: white;
            p {
            margin: 0;
            }
        } 
        svg {
            width: 20px;
            height: 15px;
            padding: 0 10px 0 0;
        }
    }
}
#footer_restaurant {
    position: relative;
    top: 1193px;
}
.footer_restaurant {
    position: relative;
    top: 1110px
}
    
