$color_primary: #9356DC;
$color_primary_opacity: rgba(144, 85, 216, 0.15);
$color_secondary: #FF79DA;
$color_tertiary: #99E2D0;
$color_background: #f6f6f6;
$color_background_bold: #eaeaea;
$color_box_shadow: #cecece;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Shrikhand&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;    
}
#container {
    width: 100%;
    max-width: 428px;
}
h1 {
    font-family: 'Shrikhand', 'cursive';
    font-weight: 300;
    text-align: center;
    margin: 13px 0 3px 0;
}
a {
    display: inline;
    text-decoration: none;
    color: black;
}
section {
    background-color: $color_background;
    text-align: center;
    
    h2 {
        font-weight: bold;
        margin: 0;
    }        
}
form {
    height: 51px;
    position: relative;
    background-color: $color_background_bold;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        height: 17px;
    }
    
    input {
        width: 41%;
        background-color: $color_background_bold;
        font: 400 17px 'Roboto', sans-serif;
        border-style: none;
        text-align: center;
    }
}
#border {
        width: 100%;
        position: absolute;
        top: 0;
        border-bottom: 2px solid $color_box_shadow;
        box-shadow: 0px 2px 4px 0px $color_box_shadow;
}
#explore_restaurants {
    height: 287px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        margin-bottom: 2em;
        font-weight: 300;
        font-size: 18px;
    }
    button {
        width: 219px;
        height: 50px;
        font: 400 16.3333px 'Roboto', sans-serif;
        border: none;
        border-radius: 25px;
        color: white;
        background: linear-gradient($color_secondary, $color_primary);
        box-shadow: 0 5px 7px 1px $color_box_shadow;
    }
}
aside {
    height: 443px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        width: 348px;
        margin: 0;
    } 
}
#functioning_group_card {
    height: 73%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}
.functioning_card {
        width: 326px;
        height: 75px;
        position: relative;
        background: $color_background;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 11px 0px $color_box_shadow;
        
        svg {
            position: absolute;
            width: 20px;
            height: 20px;
            opacity: 0.43;
            left: 40px;
        }
        h3 {
        margin: 0;
        font-size: 1em;
        }
}
.functioning_card:hover {
    background-color: $color_primary_opacity;   
}
.functioning_card:hover > svg {
        color: $color_primary;
        opacity: 1;
    }
.functioning_number {
        width: 25px;
        height: 25px;
        position: absolute;
        background: $color_primary;
        left: -10px;
        color: white;
        border-radius: 12.5px;
        p {
            font-size: small;
            margin: 5px 0;
            text-align: center;
        }
}
#restaurant {
    height: 1233px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        width: 336px;
        text-align: left;
        margin: 52px 0 20px 0 ;
    }
}
#resto_group_card {
    width: 336px;
    height: 1062px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
article {
    width: 100%;
    height: 253px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 4px 0px $color_box_shadow;
}

.container_img {
    height: 176px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: end;
    img {
        width: 100%;
        /*height: 100%;*/
        
    }
}
.resto_footer_card {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    h3, p{
        margin: 0;
        padding: 0 0 0 10px;

    }
}