/* ./assets/dart-sass/sass ./assets/sass/style.scss ./assets/css/style.css --watch */
$color_primary: #9356DC;
$color_primary_opacity: rgba(144, 85, 216, 0.15);
$color_secondary: #FF79DA;
$color_tertiary: #99E2D0;
$color_background: #f6f6f6;
$color_background_bold: #eaeaea;
$color_box_shadow: #cecece;
$color_footer: #353535;
$color_gradient_opacity: linear-gradient(rgba(255,121,218,0.8),rgba(147,86,220,0.8));

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Shrikhand&display=swap');

html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;    
}
#container {
    margin: 0;
    padding: 0;
    max-width: 428px;
    width: 100%;
    height: auto;
    margin: 0 auto 0 auto;
    @media (min-width: 768px) {
        max-width: 1024px;
    }
    @media (min-width: 1025px) {
        max-width: 1280px;
    }
}
main {
    width: 100%;
}
.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6;
    animation: loader_end 3s ease-in-out forwards;
    z-index: 1000;
}
.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  animation: loader_end 3s ease-in-out forwards;
  width:160px;
  height:160px;
  background: linear-gradient(rgba(255,121,218,0.8),rgba(147,86,220,0.8));  
  border-radius:50%;
  text-align:center;
  line-height:150px; 
  font-size:20px;
  color:$color_tertiary;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px $color_tertiary;
  box-shadow:0 0 20px rgba(0,0,0,0.5);
  z-index: 1001;
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid $color_primary;
  border-right:3px solid $color_secondary;
  border-bottom: 3px solid $color_primary;
  border-left: 3px solid $color_tertiary;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.span_loader
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  opacity: 1;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.span_loader:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:linear-gradient(rgb(255,121,218),rgb(147,86,220));
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #cecece;
}
@keyframes animateC {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}
@keyframes animate {
    0% {
        transform:rotate(45deg);
    }
    100% {
        transform:rotate(405deg);
    }
}
@keyframes loader_end {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 0.7;
        visibility: hidden;
    }
}

header {
    width: 100%;
    position: relative;
    @media (min-width: 768px) {
        height: 60px;
    }
}
header a {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
h1 {
    font-family: 'Shrikhand', 'cursive';
    font-weight: 300;
    text-align: center;
    margin: 13px 0 3px 0;
}
a {
    display: inline;
    text-decoration: none;
    color: black;
}
.bg_image_note_enchantee {
    background:  no-repeat  url('../images/restaurants/enchante.jpg');
    @media (min-width: 768px) {
        background: no-repeat  url('../images/restaurants/enchante_medium.jpg');
    }
}
.bg_image_palette_gout {
    background:  no-repeat  url('../images/restaurants/palette.jpg');
    @media (min-width: 768px) {
        background: no-repeat  url('../images/restaurants/palette_medium.jpg');
    }
}
.bg_image_delices_sens {
    background:  no-repeat  url('../images/restaurants/delice.jpg');
    @media (min-width: 768px) {
        background: no-repeat  url('../images/restaurants/delice_medium.jpg');
    }
}
.bg_image_francaise {
    background:  no-repeat  url('../images/restaurants/francaise.jpg');
    @media (min-width: 768px) {
        background: no-repeat  url('../images/restaurants/francaise_medium.jpg');
    }
}
.img_large {
    width: 100%;
    height: 250px;
    background-size: cover;
    @media (min-width: 768px) {
        height: 500px;
    }
    @media (min-width: 1025px) {
        height: 700px;
    }
}
.row {
    width: 100%;
}
section {
    background-color: $color_background;
    text-align: center;   
    h2 {
        font-weight: bold;
        margin: 0;
    }       
}
.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: -35px 0 0 0;
    border-radius: 40px 40px 0 0;
    h2 {
        font-family: 'Shrikhand', 'cursive';
        font-size: 24px;
        padding: 0 0 0 15px;
        margin: 0;
    }
}
.menu_header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 35px;
    label {
        position: absolute;
        top: 0px;
        padding: 35px 10px 0 0;
    }
    input {
        position: absolute;
        left: -9999px;
    }
    .custom-checkbox input[type="checkbox"]:checked~.checked {
        position: absolute;
        left: 0px;
    }
}
.menu_group {
    width: 100%;
    h3 {
        position: relative;
        font-weight: 400;
        font-size: 20px;
        padding-left: 15px;
        margin: 25px 0 10px 0;
        height: 40px;
        text-align: start;
    }
    span {
        position: absolute;
        width: 42px;
        bottom: 5px;
        left: 16px;
        text-decoration: underline;       
        border-top: 2px solid $color_tertiary;
    }
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
}
.flat {
    width: 100%;
    @media (min-width: 768px) {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    @media (min-width: 1025px) {
        width: 32%;
    }
}
.choice_menu {
    position: relative;
    width: 90%;
    height: 69px;
    margin: 15px auto 15px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: start;
    padding-left: 10px;
    strong {
        font-weight: bold;
    }
    p {
        padding: 0;
        margin: 0;
        font-size: 15px;
    }
    h4 {
        font-size: 17px;
        padding: 0;
        margin: 0;
    }
    .overflow_text {
        width: 85%;
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: linear 1s;
    }
    .overflow_text h4,
    .overflow_text p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .price {
        width: 15%;
        height: 65%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .check_circle {
        width: 15%;
        height: 100%;
        position: absolute;
        right: -15%;
        background: $color_tertiary;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: linear 1s ;
    }
    svg {
        position: absolute;
        width: 25px;
        height: 25px;
        left: 20%;
        color: #ffffff;
        transition: linear 1s;
    }   
    &:hover > .overflow_text, &:focus > .overflow_text {
        width: 65%;
        cursor: pointer;     
    }
    &:hover > .check_circle, &:focus > .check_circle {
        right: 0;       
        svg {
            transform: rotate(-360deg);
            transform-origin: center;
        }
    }
    @media (min-width: 768px) {
        flex-wrap: wrap;
    }
}
.fadein {
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

form {
    height: 51px;
    position: relative;
    background-color: $color_background_bold;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        height: 17px;
    }
    
    input {
        width: 41%;
        background-color: $color_background_bold;
        font: 400 17px 'Roboto', sans-serif;
        border-style: none;
        text-align: center;
    }
}
#border {
        width: 100%;
        position: absolute;
        top: 0;
        opacity: 0.5;
        border-bottom: 2px solid rgba(206, 206, 206,0.7);
        box-shadow: 0px 2px 4px 0px $color_box_shadow;
}
#explore_restaurants {
    width: 100%;
    height: 287px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        margin-bottom: 2em;
        font-weight: 300;
        font-size: 18px;
    }
}
button {
        width: 219px;
        height: 50px;
        font: 400 16.3333px 'Roboto', sans-serif;
        border: none;
        border-radius: 25px;
        color: white;
        background: linear-gradient($color_secondary, $color_primary);
        box-shadow: 0 5px 7px 1px $color_box_shadow;
        transition: linear 0.2s;
        transform: scale(1);
        a {
            display: inline-block;
            text-decoration: none;
            width: 100%;
            height: 100%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &:hover {
            transform: scale(1.08);
            box-shadow: 2px 7px 5px 3px $color_box_shadow;
            background: $color_gradient_opacity;
        }
    }
.button {
    margin: 30px auto 70px auto;
}
aside {
    width: 100%;
    height: 443px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        width: 95%;
        margin: 0;
    }
    @media (min-width: 768px) {
        height: 300px;
        h2 {
            width: 92%;
        }
    } 
}
#functioning_group_card {
    width: 100%;
    height: 73%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @media (min-width: 768px) {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }  
}
.functioning_card {
        width: 90%;
        height: 75px;
        position: relative;
        background: $color_background;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 11px 0px $color_box_shadow;
        transform: scale(1);
        transition: linear 0.2s;
        &:hover {
            transform: scale(1.05);
            box-shadow: 1px 6px 8px 2px $color_box_shadow;
        }
        svg {
            position: absolute;
            width: 20px;
            height: 20px;
            opacity: 0.43;
            left: 40px;         
        }
        h3 {
        margin: 0;
        font-size: 1em;
        }
        @media (min-width: 768px) {
            width: 45%;           
        }
}
.functioning_card:hover {
    background-color: $color_primary_opacity;
    &:hover > svg {
        opacity: 1;
        color: $color_primary;
    }  
}

.functioning_number {
        width: 25px;
        height: 25px;
        position: absolute;
        background: $color_primary;
        left: -10px;
        color: white;
        border-radius: 12.5px;
        p {
            font-size: small;
            margin: 5px 0;
            text-align: center;
        }
}
#restaurant {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    h2 {
        width: 90%;
        text-align: left;
        margin: 52px 0 20px 0 ;
    }
    @media (min-width: 768px) {
        height: 700px;
        h2 {
            width: 92%;
            margin: 30px 0 20px 0;
        }
    }
}
#resto_group_card {
    position: relative;
    width: 100%;
    height: 1062px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    input {
        position: absolute;
        left: -9999px;
    }
    @media (min-width: 768px) {
        width: 92%;
        height: 570px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
article {
    position: relative;
    width: 90%;
    height: 253px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 4px 0px $color_box_shadow;
    &:hover {
        box-shadow: 1px 4px 5px 2px $color_box_shadow;
    }
    @media (min-width: 768px) {
        width: 48%;
    }
    @media (min-width: 1025px) {
        width: 32%;
    }
}
label {
    position: absolute;
    bottom: 20px ;right: 10px;
}

.container_img {
    position: relative;  
    height: 176px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
    }
    p {
        width: 80px;
        height: 30px;
        position: absolute;
        top: 1px;
        right: 15px;
        background: #99e2d0;
        color: #008765;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
    }
}
.custom-checkbox img {
    width: 30px;
}
.fancy-checkbox input[type="checkbox"], .custom-checkbox .checked {
    display: none;
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"]:checked~.checked {
    display: inline-block;
    position: absolute;
    right: 0;
    transform: scale(1.1);
    cursor: pointer;
}

.resto_footer_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30%; 
}
.resto_footer_text {
    display: flex;
    flex-direction: column;
    h3, p {
        margin: 0;
        text-align: left;
        padding: 0 0 0 10px;
    }
}


footer {
    width: 100%;
    height: 198px;
    color: white;
    background: $color_footer;
    h2 {
        margin: 0;
        padding: 20px 0 0 40px;
        font: 400 19px 'Shrikhand', 'cursive';
    }
    li {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        a {
           display: flex;
            flex-direction: row;
            align-items: center;
            color: #ffffff;
            p {
            margin: 0;
            }
        } 
        svg {
            width: 20px;
            height: 15px;
            padding: 0 10px 0 0;
        }
    }
}

    
