
/* Sass n'est pas installé, il est compilé directement dans le projet avec dart-sass
    La ligne suivante est à entrer dans le Terminal :
    ./assets/dart-sass/sass ./assets/sass/style.scss ./assets/css/style.css --watch 
*/

@import "./libs/variables.scss";
@import "./libs/loader.scss";
@import "./libs/fonts.scss";

html {
    margin: 0;
    padding: 0;
}
h2, h3, h4, input, button, strong {
    font-family: 'Roboto-Medium', sans-serif;
}
body {    
    font-family: 'Roboto-Light', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 auto 0 auto;
    padding: 0;    
}
#container {
    max-width: 428px;
    width: 100%;
    height: auto;
    margin: 0 auto 0 auto;
    @media (min-width: 768px) {
        max-width: 1024px;
    }
    @media (min-width: 1025px) {
        max-width: 1280px;
    }
}
main {
    width: 100%;
}
header {
    width: 100%;
    position: relative;
    @media (min-width: 768px) {
        height: 60px;
    }
}
header a {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
h1 {
    font-family: 'Shrikhand', 'cursive';
    font-weight: 300;
    text-align: center;
    margin: 13px 0 3px 0;
}
a {
    display: inline;
    text-decoration: none;
    color: black;
}
.bg_image_note_enchantee {
    background:  no-repeat  url('../images/restaurants/enchante.jpg');
    @media (min-width: 768px) {
        background: no-repeat  url('../images/restaurants/enchante_medium.jpg');
    }
}
.bg_image_palette_gout {
    background:  no-repeat  url('../images/restaurants/palette.jpg');
    @media (min-width: 768px) {
        background: no-repeat  url('../images/restaurants/palette_medium.jpg');
    }
}
.bg_image_delices_sens {
    background:  no-repeat  url('../images/restaurants/delice.jpg');
    @media (min-width: 768px) {
        background: no-repeat  url('../images/restaurants/delice_medium.jpg');
    }
}
.bg_image_francaise {
    background:  no-repeat  url('../images/restaurants/francaise.jpg');
    @media (min-width: 768px) {
        background: no-repeat  url('../images/restaurants/francaise_medium.jpg');
    }
}
.img_large {
    width: 100%;
    height: 250px;
    background-size: cover;
    @media (min-width: 768px) {
        height: 500px;
    }
    @media (min-width: 1025px) {
        height: 700px;
    }
}
.row {
    width: 100%;
}
section {
    background-color: $color_background;
    text-align: center;   
    h2 {
        margin: 0;
    }       
}
.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: -35px 0 0 0;
    border-radius: 40px 40px 0 0;
    h2 {
        font-family: 'Shrikhand', 'cursive';
        font-size: 24px;
        padding: 0 0 0 15px;
        margin: 0;
    }
}
.menu_header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 35px;
    label {
        position: absolute;
        top: 0px;
        padding: 35px 10px 0 0;
    }
    input {
        position: absolute;
        left: -9999px;
    }
    .custom-checkbox input[type="checkbox"]:checked~.checked {
        position: absolute;
        left: 0px;
    }
}
.menu_group {
    width: 100%;
    h3 {
        position: relative;
        font-size: 20px;
        padding-left: 15px;
        margin: 25px 0 10px 0;
        height: 40px;
        text-align: start;
    }
    span {
        position: absolute;
        width: 42px;
        bottom: 5px;
        left: 16px;
        text-decoration: underline;       
        border-top: 2px solid $color_tertiary;
    }
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
}
.flat {
    width: 100%;
    @media (min-width: 768px) {
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    @media (min-width: 1025px) {
        width: 32%;
    }
}
.choice_menu {
    position: relative;
    width: 90%;
    height: 69px;
    margin: 15px auto 15px auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: start;
    padding-left: 10px;
    p, h4 {
        padding: 0;
        margin: 0;
    }
    .overflow_text {
        width: 85%;
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: linear 1s;
        & h4, p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
    }
    .price {
        width: 15%;
        height: 65%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .check_circle {
        width: 15%;
        height: 100%;
        position: absolute;
        right: -15%;
        background: $color_tertiary;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: linear 1s ;
    }
    svg {
        position: absolute;
        width: 25px;
        height: 25px;
        left: 20%;
        color: #ffffff;
        transition: linear 1s;
    }   
    &:hover > .overflow_text, &:focus > .overflow_text {
        width: 65%;
        cursor: pointer;     
    }
    &:hover > .check_circle, &:focus > .check_circle {
        right: 0;       
        svg {
            transform: rotate(-360deg);
            transform-origin: center;
        }
    }
    @media (min-width: 768px) {
        flex-wrap: wrap;
    }
}
.fadein {
    animation: fadein 3s;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

form {
    height: 51px;
    position: relative;
    background-color: $color_background_bold;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        width: 5%;
        height: 30%;
        @media (min-width: 768px) {
            margin-left: -40px;
        }     
    }
    
    input {
        width: 41%;
        height: auto;
        background-color: $color_background_bold;
        font-size: 17px;
        border-style: none;
        outline-style: none;
        text-align: center;
        @media (min-width: 768px) {
            width: 17%;
        }
        @media (min-width: 1025px) {
            width: 10%;
        }
    }
}
#border {
        width: 100%;
        position: absolute;
        top: 0;
        opacity: 0.5;
        border-bottom: 2px solid rgba(206, 206, 206,0.7);
        box-shadow: 0px 2px 4px 0px $color_box_shadow;
}
#explore_restaurants {
    width: 100%;
    height: 287px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        margin-bottom: 2em;
        font-weight: 300;
        font-size: 18px;
    }
}
button {
        width: 219px;
        height: 50px;
        font-size: 16.3333px;
        border: none;
        border-radius: 25px;
        color: white;
        background: linear-gradient($color_secondary, $color_primary);
        box-shadow: 0 5px 7px 1px $color_box_shadow;
        transition: linear 0.2s;
        transform: scale(1);
        a {
            display: inline-block;
            text-decoration: none;
            width: 100%;
            height: 100%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &:hover {
            transform: scale(1.08);
            box-shadow: 2px 7px 5px 3px $color_box_shadow;
            background: $color_gradient_opacity;
        }
    }
.button {
    margin: 30px auto 70px auto;
}
aside {
    width: 100%;
    height: 443px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        width: 95%;
        margin: 0;
    }
    @media (min-width: 768px) {
        height: 300px;
        h2 {
            width: 92%;
        }
    }
    @media (min-width: 1025px) {
        height: 280px;
        h2 {
            width: 98%;
            padding: 0 0 0 2px;
        }
    }  
}
#functioning_group_card {
    width: 100%;
    height: 73%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @media (min-width: 768px) {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @media (min-width: 1025px) {
        width: 96%;
        height: 63%;
    }  
}
.functioning_card {
        width: 90%;
        height: 75px;
        position: relative;
        background: $color_background;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 11px 0px $color_box_shadow;
        transform: scale(1);
        transition: linear 0.2s;       
        svg {
            position: absolute;
            width: 20px;
            height: 25px;
            opacity: 0.43;
            left: 40px;         
        }
        h3 {
        margin: 0;
        font-size: 1em;
        }
        &:hover {
            transform: scale(1.05);
            box-shadow: 1px 6px 8px 2px $color_box_shadow;
            background-color: $color_primary_opacity;
            > svg {
                opacity: 1;
                color: $color_primary;
            }
        }
        @media (min-width: 768px) {
            width: 45%;           
        }
        @media (min-width: 1025px) {
            width: 30%;
    } 
}
.functioning_number {
        width: 25px;
        height: 25px;
        position: absolute;
        background: $color_primary;
        left: -10px;
        color: white;
        border-radius: 12.5px;
        p {
            font-size: small;
            margin: 5px 0;
            text-align: center;
        }
}
#restaurant {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
    h2 {
        width: 90%;
        text-align: left;
        margin: 52px 0 20px 0 ;
    }
    @media (min-width: 768px) {
        height: 700px;
        h2 {
            width: 92%;
            margin: 30px 0 20px 0;
        }
    }
    @media (min-width: 1025px) {
        h2 {
            width: 98%;
        }
    } 
}
#resto_group_card {
    position: relative;
    width: 100%;
    height: 1062px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    input {
        position: absolute;
        left: -9999px;
    }
    @media (min-width: 768px) {
        width: 92%;
        height: 570px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    @media (min-width: 1025px) {
        width: 98%;
    } 
}
article {
    position: relative;
    width: 90%;
    height: 253px;
    background-color: white;
    border-radius: 15px;
    box-shadow: -2px 2px 4px 0px $color_box_shadow;
    &:hover {
        box-shadow: -3px 3px 4px 0px $color_box_shadow;
    }
    @media (min-width: 768px) {
        width: 48%;
    }
    @media (min-width: 1025px) {
        width: 32%;
    }
}
label {
    position: absolute;
    bottom: 20px ;right: 10px;
}

.container_img {
    position: relative;  
    height: 176px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 100%;
    }
    p {
        width: 80px;
        height: 30px;
        position: absolute;
        top: 1px;
        right: 15px;
        background: #99e2d0;
        color: #008765;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
    }
}
.custom-checkbox img {
    width: 30px;
}
.fancy-checkbox input[type="checkbox"], .custom-checkbox .checked {
    display: none;
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"]:checked~.checked {
    display: inline-block;
    position: absolute;
    right: 0;
    transform: scale(1.1);
    cursor: pointer;
}

.resto_footer_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30%; 
}
.resto_footer_text {
    display: flex;
    flex-direction: column;
    h3, p {
        margin: 0;
        text-align: left;
        padding: 0 0 0 10px;
    }
}
footer {
    width: 100%;
    height: 198px;
    color: white;
    background: $color_footer;
    h2 {
        margin: 0;
        padding: 20px 0 0 40px;
        font: 400 19px 'Shrikhand', 'cursive';
    }
    li {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        a {
           display: flex;
            flex-direction: row;
            align-items: center;
            color: #ffffff;
            p {
            margin: 0;
            }
        } 
        svg {
            width: 20px;
            height: 15px;
            padding: 0 10px 0 0;
        }
    }
}

    
